{% extends 'base.html' %}
{% block content %}

<div class="home-container min-width">
    <div class="home-main">

    </div>

    <div class="home-content1">
        <div id="web-description-div">
            <img id="description-image" alt="web-description-icon" src="/static/img/computer-icon.png">
            <div>
                <br>
                <h1>코딩 입문자를 위한 학습 코스</h1>
                    <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                    <br>
                    코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                    </p>
            </div>
        </div>
    </div>

    <div class="home-content2">
        <div id="level-div">
            <div>
                <br>
                <h1>핵심 기술 첫번째 : 언어별 난이도 조절</h1>
                    <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                    <br>
                    코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                    </p>
            </div>
            <img id="level-image" alt="level-icon" src="/static/img/level-icon.png">
        </div>
    </div>

    <div class="home-content3">
        <div id="problem-div">
            <img id="problem-image" alt="problem-icon" src="/static/img/problem-icon.png">
            <div>
                <br>
                <h1>핵심 기술 첫번째 : 언어별 난이도 조절</h1>
                    <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                    <br>
                    코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                    </p>
            </div>
        </div>
    </div>

    <div class="home-content4">
        <div id="grading-div">
            <div>
                <br>
                <h1>핵심 기술 첫번째 : 언어별 난이도 조절</h1>
                    <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                    <br>
                    코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                    </p>
            </div>
            <img id="grading-image" alt="level-icon" src="/static/img/grading-icon.png">
        </div>
    </div>

    <h1 class = "introduce" align="center">Introduce</h1>
    <div class="home-content5">
        <div id="div1">
            <img alt="people1" src="/static/img/people.png">
            <p> &nbsp; Name : Kim WonJong <br> &nbsp; Student Number : 2020xxxxx <br> &nbsp; Field of development : Machine Learning </p>
        </div>

        <div id="div2">
            <p>  Name : Kim WonJong &nbsp; <br>  Student Number : 2020xxxxx &nbsp; <br> Field of development : Machine Learning &nbsp; </p>
            <img alt="people2" src="/static/img/people.png">
        </div>
    </div>

    <div class="home-content6">
        <div id="div3">
            <img alt="people3" src="/static/img/people.png">
            <p> &nbsp; Name : Kim WonJong <br> &nbsp; Student Number : 2020xxxxx <br> &nbsp; Field of development : Machine Learning </p>
        </div>
        <div id="div4">
            <p>  Name : Kim WonJong &nbsp; <br> Student Number : 2020xxxxx &nbsp; <br> Field of development : Machine Learning &nbsp; </p>
            <img alt="people4" src="/static/img/people.png">
        </div>
    </div>
</div>

{% endblock %}