{% extends 'base.html' %}
{% block content %}

<div class="home-container">

    <div class="home-main">
        <div class="home-main-text">
            Automatic scoring coding homepage <br/> that provides a variety of problems for coding beginners
            <div class="d-grid gap-2 col-6 mt-5 mx-auto">
                <button type="button" class="btn btn-primary btn-lg move_exercise">Moving on to practice</button>
            </div>
        </div>
    </div>

    <div class="home-info">
        <div class="home-info-text">
            <h1>What is Co-Friend?</h1>
            Co-Friend is a website that automatically generates problems <br/> so that coding beginners can solve many problems <br/> by solving various problems by difficulty.
            <div class="home-info-feature">
                <div>
                    <img src="/static/img/problem-icon.png" width="150px" height="150px">
                    <p><br/>Auto Problem Generation</p>
                </div>
                <div>
                    <img src="/static/img/grading-icon.png" width="150px" height="150px">
                    <p><br/>Auto Grading</p>
                </div>
                <div>
                    <img src="/static/img/level-icon.png" width="150px" height="150px">
                    <p><br/>Customized Difficulty</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-feature">
        <div class="feature-1">
            <div class="feature-1-1">
                <br>
                <h1>핵심 기술 첫번째 : 언어별 난이도 조절</h1>
                <br>
                <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                <br>
                코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                </p>
            </div>
            <div class="feature-1-2"></div>
        </div>
        <div class="feature-2">
            <div class="feature-2-1"></div>
            <div class="feature-2-2">
                <br>
                <h1>핵심 기술 두번째 : 자동 채점 시스템</h1>
                <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                <br>
                코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                </p>
            </div>
        </div>
        <div class="feature-3">
            <div class="feature-3-1">
                <br>
                <h1>핵심 기술 세번째 : 자동 문제 생성 시스템</h1>
                <br>
                <p>Co-Friend를 활용한 코딩 연습은 코딩을 처음 입문하는 사람을 위한 코딩 홈페이지입니다.
                <br>
                코딩을 처음 접할 때 기초를 다지면서 능력을 길러보세요!
                </p>
            </div>
            <div class="feature-3-2"></div>
        </div>
    </div>
</div>

{% endblock %}