{% extends 'base.html' %}
{% block content %}

<div class="about-us-container">
    <div class="about-us-main">
        <div class="about-us-main-text">
            <p class="about-us-main-text1">About us</p>
            <p class="about-us-main-text2">Let me introduce the development team</p>
        </div>
    </div>
    <div class="person-information1">
        <img src="/static/img/person-icon.png" width="200px" height="200px">
        <div class="person-information1-text">
            Name :
            <br>
            Student Id :
        </div>
    </div>
    <hr>
    <div class="person-information2">
        <div class="person-information2-text">
            Name :
            <br>
            Student Id :
        </div>
        <img src="/static/img/person-icon.png" width="200px" height="200px">
    </div>
    <hr>
    <div class="person-information3">
        <img src="/static/img/person-icon.png" width="200px" height="200px">
        <div class="person-information3-text">
            Name :
            <br>
            Student Id :
        </div>
    </div>
</div>

{% endblock %}