{% extends 'base.html' %}
{% block style %}
{% endblock %}

{% block content %}
<p>grade page</p>
<p>{{pass}}</p>
<p>{{score}}</p>
<p>{{reason}}</p>
<pre>{{answer_code}}</pre>
<input type="button" value="다시풀기" onClick="history.go(-1)">
<form action="{% url 'exercises:home' %}" method="get">
    <input type="submit" value="문제 선택 페이지">
</form>
{% if is_chat == 'true' %}
<form action="{% url 'exercises:problem_type' %}" method="post">
    {% csrf_token %}
    {% for keyword in keywords %}
    <input type="checkbox" name="keyword_list" style="display: none" value="{{keyword}}" checked>
    {% endfor %}
    <input type="submit" value="다음 문제">
</form>
{% else %}
<form action="{% url 'exercises:home' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="다음 문제">
</form>
{% endif %}
{% endblock %}