{% extends 'base.html' %}
{% block style %}
{% endblock %}

{% block content %}

{% load static %}
{% load socialaccount %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<style>
    .btn-social-login {
        transition: all .2s;
        outline: 0;
        border: 1px solid transparent;
        padding: .5rem !important;
        border-radius: 50%;
        color: #fff;
    }

    .btn-social-login:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }

    .text-dark {
        color: #343a40 !important;
    }
</style>

<div class="login-main">
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="서버의url" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="login-social">
        <a href="{% provider_login_url 'google' method='oauth2' %}"><button class='btn-social-login' style='background:#D93025'><i class="xi-3x xi-google"></i></button></a>
        <a href="{% provider_login_url 'facebook' method='oauth2' %}"><button class='btn-social-login' style='background:#4267B2'><i class="xi-3x xi-facebook"></i></button></a>
        <a href="{% provider_login_url 'naver' method='oauth2' %}"><button class='btn-social-login' style='background:#1FC700'><i class="xi-3x xi-naver"></i></button></a>
        <a href="{% provider_login_url 'kakao' method='oauth2' %}"><button class='btn-social-login' style='background:#FFEB00'><i class="xi-3x xi-kakaotalk text-dark"></i></button></a>
    </div>
</div>
{% endblock %}


