/*
main css
*/

body{
    margin: 0;
}

.min-width{
    min-width: 1130px;
}

.max-width{
    margin: auto;
    max-width: 1130px;
}

/*
nav
*/
.navbar{
    margin: auto;
    padding: 20px 30px 20px 30px;
    background-color: #000000;
    color: #ffffff;
    vertical-align: middle;
}

.nav-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.nav-logo{
    display: flex;
    font-size: 35px;
    text-decoration: none;
    color: #ffffff;
}

.nav-content{
    display: flex;

}

.nav-item{
    margin: auto 15px auto 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item:hover{
    background-color: #000000;
    color: #ffffff;
}

/*
footer
*/
.footer-bar{

}

.footer-container{
    padding: 15px;
    text-align: center;
}

/*
home main
*/
.home-container{
}

.home-main{
    padding: 50px 0 50px 0;
    background-color: #000000;
}

.home-welcome{
    margin: auto;
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New', monospace;
    font-weight: normal;
    color: #ffffff;
}

.home-content{
    margin: 30px auto 30px auto;
}

.home-content-text{
    margin: 0;
    padding: 10px 0 10px 0;
    width: 500px;
    font-size: 50px;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}